<main class="container my-5">
  <h2>Bem-vindo(a), {{loggedUser.firstName}} {{loggedUser.lastName}}!</h2>
  <p>Você está logado(a).</p>
  <a href="/auth/logout" class="btn btn-primary">Sair</a>
</main>