:root {
  --bs-primary: #4f0e21; /* Vermelho muito escuro */
  --bs-primary-rgb: 79, 14, 33; /* RGB da cor primária */
  --bs-secondary: #7a142f; /* Vermelho escuro */
  --bs-secondary-rgb: 122, 20, 47; /* RGB da cor secundária */
  --bs-light: #f8d7da; /* Vermelho claro */
  --bs-light-rgb: 248, 215, 218; /* RGB da cor clara */
  --bs-dark: #2a0a13; /* Vermelho muito escuro (mais escuro que o primary) */
  --bs-dark-rgb: 42, 10, 19; /* RGB da cor escura */
  --bs-body-bg: #f8f9fa; /* Cor de fundo padrão */
}

body {
  color: var(--bs-dark) !important; /* Define a cor padrão do texto */
  font-family: Arial, sans-serif;
  background-color: var(--bs-body-bg);
  background-image: url("/images/background.jpg"); /* Caminho para a imagem */
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-attachment: fixed; /* Faz a imagem ficar fixa enquanto o usuário rola a página */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  height: 100vh; /* Faz a altura da seção ser igual à altura da tela */
  width: 100%; /* Faz a largura da seção ocupar 100% da tela */
}

header {
  background-color: rgba(
    var(--bs-primary-rgb),
    0.5
  ); /* Cor primária com transparência */
  color: #fff;
  padding: 10px 0;
}

.navbar {
  background-color: var(--bs-primary); /* Cor primária */
}

footer {
  background-color: var(--bs-primary); /* Cor primária */
  color: #fff;
  padding: 20px 0;
}

.hero {
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.card {
  margin-bottom: 20px;
}

iframe {
  border: none;
  border-radius: 8px;
}

.d-flex {
  font-size: 12px; /* Ajuste o tamanho da fonte */
  white-space: nowrap; /* Impede que o conteúdo quebre para a linha seguinte */
}

.d-flex a {
  margin-right: 10px; /* Ajuste o espaçamento entre os links */
}

/* Sobrescreve a classe btn-primary do Bootstrap */
.btn-primary {
  background-color: var(--bs-primary); /* Cor primária */
  border-color: var(--bs-secondary); /* Cor secundária */
  color: #ffffff; /* Cor do texto */
}

/* Efeito hover */
.btn-primary:hover {
  background-color: var(--bs-secondary); /* Cor secundária ao passar o mouse */
  border-color: var(--bs-dark); /* Cor escura ao passar o mouse */
}

/* Efeito active (quando o botão é clicado) */
.btn-primary:active {
  background-color: var(--bs-dark); /* Cor escura ao clicar */
  border-color: var(--bs-dark); /* Cor escura ao clicar */
}

.card-img-top {
  width: 100%; /* Para ocupar toda a largura do card */
  height: 300px; /* Defina uma altura fixa */
  object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */
}

.form-control::placeholder {
  color: #555; /* Cor do texto do placeholder */
  font-style: italic; /* Texto em itálico */
  font-size: 14px; /* Tamanho da fonte */
  opacity: 0.8; /* Transparência do texto */
}

/* Altera e fixa a cor do menu ativo */
.nav-item.active {
  background-color: var(--bs-secondary); /* Cor secundária */
  border-radius: 5px; /* Borda arredondada */
}

.nav-item.active .nav-link {
  color: #ffffff; /* Cor do texto do item ativo */
}

.custom-container {
  background-color: var(--bs-light); /* Vermelho claro */
  padding: 5px;
}

.custom-box {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.tribute-section {
  background-color: var(--bs-body-bg); /* Fundo suave para destacar tributos */
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.epitaph-box {
  background-color: var(--bs-primary); /* Cor primária */
  color: #f8d7da;
  font-family: "Dancing Script", cursive; /* Fonte manuscrita */
  padding: 15px;
  border-radius: 15px;
  max-width: 60%;
  margin: 2 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.epitaph-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.epitaph-content {
  font-size: 2.3rem;
  font-weight: bold;
  font-style: italic;
}
