<main class="container my-5">
  <div class="bg-white p-4">
    <h1>Condições de Utilização</h1>
    <p>Termos e condições para uso da plataforma.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus
      tempor lorem, eu sodales turpis ultrices eget. Vestibulum sed lectus in
      quam maximus eleifend ac eget nisl. Duis egestas ac mi sed tincidunt.
      Vestibulum nunc leo, euismod in consequat sed, laoreet et est. Mauris
      malesuada, eros ut pharetra pharetra, sapien nibh ultricies nulla, ut
      luctus ex eros vitae mauris. Maecenas luctus ante sit amet nulla malesuada
      accumsan. Morbi erat tellus, ultrices vel luctus eget, congue in mauris.
      Maecenas ut massa cursus, bibendum enim at, cursus turpis. Suspendisse
      tincidunt nisi iaculis est ultricies sagittis. Quisque eu leo ullamcorper,
      cursus dolor et, tincidunt mi. Nulla facilisi. Suspendisse suscipit
      dapibus neque eget bibendum. Suspendisse egestas eleifend lobortis.
      Praesent vitae euismod magna, id elementum orci. Sed dictum id tortor a
      pellentesque vel, ultrices vel neque. Sed molestie eros libero, id
      eleifend ante fermentum a. Donec a facilisis dolor. Morbi nunc tellus,
      vehicula id tempor id, vulputate sed dolor. Morbi viverra augue nec turpis
      sodales malesuada. In placerat a dui sit amet luctus. Ut aliquam nisi
      egestas dui porta, nec pretium tortor sagittis. Pellentesque dictum
      euismod felis a venenatis.
    </p>
  </div>
</main>