<!--
<header class="user-header" style="background-image: url('{{background}}');">
-->
<header class="user-header" style="background-image: url('/public/images/background1.jpg')"></header>  
  <div class="container">
    <h1>{{nome}}</h1>
  </div>
</header>

