<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarInferior">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
        <li class="nav-item"><a
            class="nav-link"
            href="#percurso"
          >Percurso</a></li>
        <li class="nav-item"><a
            class="nav-link"
            href="#galeria"
          >Galeria</a></li>
        <li class="nav-item"><a class="nav-link" href="#admin">Admin</a></li>
        <li class="nav-item"><a
            class="nav-link"
            href="#premium"
          >Premium</a></li>
      </ul>
    </div>
  </div>
</nav>