<main class="container my-5">
  <section class="row">
    <!-- Coluna para o formulário -->
    <div class="col-md-6">
      <div class="card p-4 h-100">
        <h2 class="card-title">Criar Memorial Virtual</h2>
        <p class="card-text">
          Experimente, plano base gratuito e pode mantê-lo privado.
        </p>
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nome" />
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Sobrenome" />
          </div>
          <button type="submit" class="btn btn-primary">Começar</button>
        </form>
      </div>
    </div>

    <!-- Coluna para o vídeo 
    <div class="col-md-6">
      <div class="ratio ratio-16x9 h-100">
        <iframe src="/videos/tutorial.mp4" allowfullscreen></iframe>
      </div>
    </div>-->
    <div class="col-md-6">
      <div class="ratio ratio-16x9 h-100">
        <video controls width="100%">
          <source src="/videos/tutorial.mp4" type="video/mp4" />
          Seu navegador não suporta a reprodução deste vídeo.
        </video>
      </div>
    </div>

  </section>

  <section class="my-5">
    <h2 class="text-center mb-4">Páginas de Memoriais Existentes</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img
            src="/images/homenageado1.png"
            class="card-img-top"
            alt="Homenageado 1"
          />
          <div class="card-body">
            <p class="card-text text-center">Pateta Pereira da Silva</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/images/homenageado2.png"
            class="card-img-top"
            alt="Homenageado 1"
          />
          <div class="card-body">
            <p class="card-text text-center">Mickey Alves Oliveira</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/images/homenageado3.png"
            class="card-img-top"
            alt="Homenageado 1"
          />
          <div class="card-body">
            <p class="card-text text-center">Obelix Bontempo Rabello</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img
            src="/images/homenageado4.png"
            class="card-img-top"
            alt="Homenageado 1"
          />
          <div class="card-body">
            <p class="card-text text-center">Ogro José de Souza</p>
          </div>
        </div>
      </div>
      <!-- Repetir para outros cards -->
    </div>
    <div class="text-center mt-4">
      <p>Memoriais Cadastrados: 1.234</p>
      <p>Visitantes: 12.345</p>
    </div>
  </section>
</main>