<main class="container my-5">
  <section class="row">
    <!-- Coluna para o botão -->
    <div class="col-md-6">
      <div class="card p-4 h-100">
        <h2 class="card-title">In Memoriam Brasil</h2>
        <p style="text-align: justify;">
          Preserve para sempre a memória de quem foi especial em sua vida. Crie
          um
          <strong>Memorial Virtual</strong>
          e preste uma linda homenagem a esta pessoa querida. Com poucos passos,
          você cria uma página personalizada, acessível a qualquer momento e de
          qualquer lugar.
          <br /><br />
          <strong>In Memoriam Brasil</strong>
          é um espaço de carinho e recordação para expressar seus sentimentos e
          compartilhar com familiares e amigos. Honre aqueles que fizeram parte
          da sua vida e mantenha suas histórias vivas para sempre.
        </p>

        <div class="text-end">
          <a href="/criar-memorial" class="btn btn-primary">Criar Memorial</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="ratio ratio-16x9 h-100">
        <video controls width="100%">
          <source src="/videos/tutorial.mp4" type="video/mp4" />
          Seu navegador não suporta a reprodução deste vídeo.
        </video>
      </div>
    </div>
  </section>

  <section class="my-5">
    <h2 class="text-center mb-4">Páginas de Memoriais Existentes</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img
            src="/images/homenageado1.png"
            class="card-img-top"
            alt="Homenageado 1"
          />
          <div class="card-body">
            <p class="card-text text-center">Pateta Pereira da Silva</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/images/homenageado2.png"
            class="card-img-top"
            alt="Homenageado 1"
          />
          <div class="card-body">
            <p class="card-text text-center">Mickey Alves Oliveira</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/images/homenageado3.png"
            class="card-img-top"
            alt="Homenageado 1"
          />
          <div class="card-body">
            <p class="card-text text-center">Obelix Bontempo Rabello</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img
            src="/images/homenageado4.png"
            class="card-img-top"
            alt="Homenageado 1"
          />
          <div class="card-body">
            <p class="card-text text-center">Ogro José de Souza</p>
          </div>
        </div>
      </div>
      <!-- Repetir para outros cards -->
    </div>
    <div class="text-center mt-4">
      <p>Memoriais Cadastrados: 1.234</p>
      <p>Visitantes: 12.345</p>
    </div>
  </section>
</main>