<main class="container my-5">
    <section class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h2 class="card-title text-center">Entrar</h2>
                <div class="mb-3">
                    <button class="btn btn-danger w-100">Entrar com Google</button>
                </div>
                <hr>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Continuar</button>
                </form>
            </div>
        </div>
    </section>
</main>
